/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-image: url("../recursos/backgrounginicio.jpg"); /* Color de fondo pastel */
  color: #2b3e57; /* Color de texto */
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #c68e97; /* Color de fondo del encabezado */
  padding: 20px 0;
}

.header h1 {
  font-size: 43px;
  color: #f3e9d1;
  display: flex; /* Agregado */
  justify-content: space-between; /* Color del texto del encabezado */
}

.slogan {
  color: #f3e9d1; /* Color del texto del eslogan */
  font-size: 20px;
}

.menu ul {
  position: absolute;
  margin: 5px;
  right: 0;
  top: 0;
  float: right;
  list-style: none;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  color: #742c64; /* Color de los enlaces del menú */
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #742c64; /* Borde sólido */
  border-radius: 5px;
  background-color: #f3e9d1;
}

.menu ul li a:hover {
  background-color: #742c64; /* Color de fondo al pasar el mouse */
  color: #f3e9d1; /* Color del texto al pasar el mouse */
}

.main {
  text-align: center;
  padding: 100px; /* Espacio suficiente para la imagen de fondo */
  position: relative;
  min-height: 500px;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #742c64; /* Color de fondo del botón */
  color: #f3e9d1; /* Color del texto del botón */
  padding: 40px 80px;
  border-radius: 50%; /* Para hacerlo circular */
  text-decoration: none;
  font-size: 40px;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #d3686b; /* Color de fondo al pasar el mouse */
}

.about {
  background-color: #f3e9d1; /* Color de fondo del apartado "Quiénes Somos" */
  padding: 50px;
}

.about h2 {
  color: #742c64; /* Color del texto del encabezado */
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;

}

.about p{
  line-height: 1.5;
  margin-bottom: 15px;
}

.about ul {
  list-style: none;
  padding-left: 15%;
  line-height: 1.5;
}

.caracteristicas {
  list-style: none;
  padding: 0;
}

.caracteristica {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.caracteristica i {
  float: left;
  margin-right: 10px;
  font-size: 18px;
  color: #007bff;
}

.contact {
  background-color: #742c64; /* Color de fondo del apartado "Contacto" */
  padding: 50px 0;
}

.contact h2 {
  color: #f3e9d1; /* Color del texto del encabezado */
}

.contact p{
  background-color: #f3e9d1;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
}

.footer {
  background-color: #2b3e57; /* Color de fondo del pie de página */
  color: #f3e9d1; /* Color del texto del pie de página */
  padding: 20px 0;
  text-align: center;
}

.footer a {
  color: #f3e9d1; /* Color de los enlaces del pie de página */
  text-decoration: none;

}

.footer a:hover {
  text-decoration: underline;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #742c64; /* Color de fondo del botón de volver arriba */
  color: #f3e9d1; /* Color del texto del botón de volver arriba */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

#back-to-top:hover {
  background-color: #d3686b; /* Color de fondo del botón de volver arriba al pasar el mouse */
}